

<div class="container">
    <div class="row">
        <div *ngFor="let hero of listeHeros" class="col m4 s6">
            <div class="card horizontal" (click)="goToCombatHeroes(hero)" appBorderCard>
                <div class="card-image">
                    <img [src]="hero.picture" alt="">
                </div>
                <div class="card-stacked">
                    <div class="card-content">
                        <p> {{ hero.name }} </p>
                        <p><small>PV : {{ hero.life }} </small></p>
                        <p><small>Spé : {{ hero.attaqueSpeciale }} </small></p>
                        <span class=" {{ hero.type | herosTypeColor }} ">
                            {{ hero.type }}
                        </span>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>

